{% extends 'base.html' %}
{% block content %}


<div class="image-wrapper center-align">
    <img src="../static/css/media/duo_jordan.jpg" alt="">
</div>
<p class="flow-text center-align">
    Welcome to Jordan Collector, the ultimate haven for Air Jordan enthusiasts! Immerse yourself in a community of sneaker lovers where you can log and showcase your treasured Air Jordans. With our user-friendly platform, effortlessly track your collection, and never miss a moment with personalized tasks to wear or clean your Js. Elevate your passion for Jordans to new heights - start your journey with Jordan Collector today!
</p>

{% endblock %}
